footer {
  padding: 1rem;
  background-color: #1f1f1f;
  color: white;
}
.logo {
  font-family: "General Sans";
}
footer .logo h1 {
  text-decoration: underline 4px #725d68;
}
.s-links {
  filter: invert(1);
}

.footer-info {
  display: flex;
  justify-content: space-between;
}
.infos {
  display: flex;
  gap: 2rem;
}
.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
