:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

body {
  background-color: #fafaf9;
  color: #1f1f1f;
  font-family: "Gambetta";
  margin: 0px;
}
button {
  border: none;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
  .members {
    display: flex;
    overflow-x: scroll;
    gap: 2rem;
  }

  .member {
    min-width: 16rem;
  }

  .BHG {
    flex-direction: column;
    padding: 1rem;
  }

  .motifs {
    display: flex;
    flex-direction: column;
  }
  .motif {
    border-left: none;
    border-bottom: 1px solid white;
  }
  .motif:nth-child(3) {
    border-bottom: none;
  }

  .oppurtunity {
    flex-direction: column-reverse;
  }
  .hero-text {
    padding: 1rem;
  }
  .hero-text h1 {
    line-height: 1.2;
  }
  .about-text {
    padding: 1rem;
  }

  .infos {
    flex-direction: column;
    gap: 0.5rem;
  }

  .hero-images {
    overflow-x: scroll;
    padding: 1rem;
  }

  .hero-images div {
    min-width: 10rem;
  }

  .op-text {
    padding: 1rem;
  }

  .op-img {
    max-width: none;
    min-width: 100%;
  }

  .op-img img {
    min-width: 100%;
  }

  .oppurtunity:first-child {
    flex-direction: column-reverse;
  }

  .footer-info {
    flex-direction: column;
  }

  .op-header {
    font-size: 3rem;
  }

  .op-text p {
    font-size: 1.2rem;
  }
}
